$header_color: #000000; 
$header_active: #006AA3;
$header_font_color: #D3D3D3;
$blue: #0082CD;
$white: #F2F2F2;
$dark: #2F2F2F;

.header-color {
  color: $header_font_color;
}

.primary_blue_color {
  color: $blue;
}
.white {
  color: $white;
}
.header {
  .sticky {
    position: fixed;
    top: 0;
    border-radius: 0;
    width: 100%;
    z-index: 999;
    background-color: $header_color;
  }
  .logo-padding {
    padding-left: 65px;
  }
  .logo-padding img{
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .nav-padding {
    padding: 10px 65px;
  }
  .nav li a {
    padding: 30px 15px;
    color: $header_font_color;
  }
  .nav .active a,
  .nav .active a:hover {
    background-color: $header_active;
  }
}
.footer-details {
  height: auto;
  background-color: $dark;
  h4{
    color: $white;
  }
  .col-md-4 {
    padding: 30px 40px 30px 30px;
  }
  .padding-left-48 {
    padding-left: 48px;
  }
  .fa-padding {
    padding: 12px;
  }
  .second-div {
    .details-info {
      padding-left: 48px;
    }
  }
  .first-div {
    .details-info {
      padding-left: 42px;
    }
  }
}
.footer {
  height: 75px;  
  .footer-fixed {
    position:absolute;
    bottom:0;
    width:100%;
    padding: 23px 69px;
    color: #797979;
    background-color: #262626;
  }
}
@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

@media only screen and (max-width: 1193px) {
  .openHours {
      display: none;
  }
}