
.header {
  .sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }
}

.footer {
  .footer-fixed {
    position:absolute;
    bottom:0;
    width:100%;
    height:60px;   /* Height of the footer */
    background:#6cf;
  }
}
@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
